body {
    background-color: black;
    font-family: Verdana;
}

#contents {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    background-color: white;
    box-shadow: 0px 0px 10px 20px white;
}

h1 {
    background: black;
    color: white;
    padding: 10px 10px;
    text-align: center;
    margin-top: 50px;
    font-size: 250%;
    text-transform: uppercase;
    font-variant: small-caps;
}

h2 {
    background: black;
    color: white;
    padding: 10px 10px;
    text-align: center;
    margin-top: 50px;
    font-size: 180%;
    text-transform: uppercase;
    font-variant: small-caps;
    border-radius: 5px;
}

h3 {
    margin-top: 20px;
    padding: 5px;
    background: #DDD;
}

h4 {
    margin-top: 10px;
    padding-top: 5px;
    padding-left: 5px;
}

p {
    padding-left: 5px;
}

code {
    font-size: 120%;
}

div.code {
    font-size: 100%;
    width: 80%;
    margin: 10px auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

a.minilink {
    font-size: 50%;
}

table.center {
    margin: 5px auto;
}

.git-milestone {
    background: #FAA;
    font-size: 80%;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin: 20px auto;
}

pre span.highlight {
    color: red;
    font-weight: bold;
}

div.task {
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    border: solid 1px black;
    box-shadow: 10px 10px gray;
}

ul li {
    margin: 5px;
}